{% extends 'main/base.html' %}

{% block content %}
<h1>{{title}}</h1>
<p>DEFAULT_BASE_CURRENCY_1: {{ DEFAULT_BASE_CURRENCY_1 }}</p>
<p>DEFAULT_BASE_CURRENCY_2: {{ DEFAULT_BASE_CURRENCY_2 }}</p>
<p>MIN_BUDGET_YEAR: {{ MIN_BUDGET_YEAR }}</p>
<p>MAX_BUDGET_YEAR: {{ MAX_BUDGET_YEAR }}</p>
<p>DEFAULT_MINUTES_DELTA_FOR_NEW_TRANSACTION: {{ DEFAULT_MINUTES_DELTA_FOR_NEW_TRANSACTION }}</p>
<p>POSITIVE_EXCHANGE_DIFFERENCE: {{ POSITIVE_EXCHANGE_DIFFERENCE }}</p>
<p>NEGATIVE_EXCHANGE_DIFFERENCE: {{ NEGATIVE_EXCHANGE_DIFFERENCE }}</p>
<p>DEFAULT_INC_CATEGORY: {{ DEFAULT_INC_CATEGORY }}</p>
<p>DEFAULT_EXP_CATEGORY: {{ DEFAULT_EXP_CATEGORY }}</p>
{% endblock %}