{% extends 'main/base.html' %}

{% block content %}
<h1>{{title}}</h1>
{% if error_message %}
<form>
    {% csrf_token %}
    <div class="form-error">{{ error_message }}</div>
    <p> </p>
    <a href="{% url 'projects' %}"><input type="button" value="Возврат"></a>
</form>
{% else %}
<form method="post">
    {% csrf_token %}
    <p>Удалить проект <strong>{{ project.name }}</strong>?</p>
    <button type="submit">Удалить проект</button> <a href="{% url 'projects' %}"><input type="button" value="Отмена"></a>
</form>
{% endif %}

{% endblock %}
